[submodule "res/Plugins/Core"]
	path = res/Plugins/Core
	url = git@github.com:mc-server/Core.git
[submodule "res/Plugins/ProtectionAreas"]
	path = res/Plugins/ProtectionAreas
	url = git@github.com:mc-server/ProtectionAreas.git
[submodule "res/Plugins/TransAPI"]
	path = res/Plugins/TransAPI
	url = git@github.com:bearbin/transapi.git
